.col1,.col2{
  width:45%;
}
.col3{
  width:100%;
}

@media screen and (max-width: 740px){
header>h1{
  text-align: center;
}
section>h2 {
  text-align: center;
  font-size: 2em;
}
}

@media screen and (max-width:380px)
{
  .col1,.col2
  { float:none;
    width:100%;
  }

  img{
    display:none;
  }

  nav {
    display:block;
    width:100%;
  }

  nav>ul {
    display:block;
  }

  nav>ul>li {
    display:block;
    text-align: left;
  }
}
